body {
  font-family: 'Comforter', cursive;
  font-family: 'Syne Tactile', cursive;
  align-items: center;
  justify-content: center;

}
.fuckme{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

}

.jumbotron{
  background: url('welcome.jpg')
  no-repeat center center/cover;
  position: absolute;
  /* top: -30px;
  left: -30px; */
  width: 100%;
  height:80vh;
  z-index: -1;
  filter: blur(0px);
}


.loadingText{
  font-size: 100px;
  color: black;
}
